# Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/
hcitool-env/

# VSCode settings
.vscode/

# macOS system files
.DS_Store

# Logs
*.log

# Jupyter checkpoints
.ipynb_checkpoints/

